# Python
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.pytest_cache/

# Envs
.env
env/
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Backend
backend/.env
backend/.venv/
backend/uploads/
backend/logs/



